
<!-- Ken wang, Jan, 2020 -->

{% extends '3a4_base.html' %}

{% block title %}
    <title>DFPM AUTOMATION:LOG</title>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <!-- below for db data operate  -->
    <table bgcolor="#E0E0E0"  border="0" style="border-color: #003D79" style="border-collapse:collapse" cellspacing="0px" align="center">
        <tbody>
            <tr>
              <td width="1302" align="center" bgcolor="#336699">
                  <span style="font-size: x-large; color: #dae0e5"  ><strong>Manage data in table</strong></span>
              </td>
            </tr>
            <tr>
              <td width="1302"  align="center">
                <table border="0" cellspacing="0px" align="center">
                    <br>
                    <tr>
                    <td width="250" align="center"> {{ form.table_name.label }}<br>{{ form.table_name }}</td>
                    <td width="250" align="center"> {{ form.password.label }}<br>{{ form.password }}</td>
                    <td width="250" align="center">
                        {{ form.max_records.label }}<br>{{form.max_records}}<br>
                        {{ form.show_last }}&nbsp;{{ form.show_last.label }}
                    </td>
                        <td width="250" align="center"> {{ form.criteria.label }}<br>{{form.criteria}}</td>
                    <td width="302" align="center"> {{ form.id.label }}<br>{{form.id}}</td>

                  </tr>
                </table>
              </td>
              <tr>
                <td width="1302"  align="center">
                    <br>{{ form.submit_query }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{ form.submit_download }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;{{form.submit_delete}}<br><br>
                </td>
              </tr>
        </tbody>
    </table>

    <!-- below for db data details -->
    {% if table_data|length>0 %}
        <p align="center">
            <span style="color: blue; font-size: medium; align-content: center">Detail data in table: {{table_name}} &nbsp;({{table_data|length}}&nbsp;records)</span>
        </p>
            <table style="border-collapse:collapse" border="1" cellspacing="0px" align="center">
              <tbody>
                <tr>
                  {% for col in table_header %}
                    <td><span style="font-size: medium">{{col}}</span></td>
                  {% endfor %}
                </tr>
                {% for row in table_data %}
                  <tr>
                    {% for col in row %}
                      <td><span style="font-size: medium">{{col}}</span></td>
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
    {% endif %}
    </form>
{% endblock %}
