
<!-- Ken wang, Jan, 2020 -->

{% extends 'base.html' %}


{% block content %}
        <br>

    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <table style="border-collapse:collapse"  cellspacing="0px" align="center" width="90%">
            <tr>
                <td width="10%"><h4><a href="{{ url_for("config_rules_main") }}">BACK</a> </h4></td>
            </tr>
        </table>

        <h2 align="center">Inclusion and exclusion rule - <strong>PID based</strong></h2>
        <h5 style="color: #005cbf" align="center">
            Definition: For related BU or PF, if it includes PID_A, it must also include PID_B, and must NOT include PID_C. <br>
        </h5>

        <table style="border-collapse:collapse"border="0" cellspacing="0px" align="center" width="50%">
            <tr align="center">
                <td>
                    {{ form.org.label }} <br> {{ form.org }}
                </td>
                <td>
                    {{ form.bu.label }} <br> {{ form.bu }}
                </td>
                <td>
                    {{ form.pf.label }} <br> {{ form.pf }}
                </td>
                <td>
                    {{ form.pid_a.label }} <br> {{ form.pid_a }}
                </td>>
                <td>
                    {{ form.pid_b.label }} <br> {{ form.pid_b }}
                </td>
                <td>
                    {{ form.pid_c.label }} <br> {{ form.pid_c }}
                </td>
                <td>{{ form.remark.label }} <br> {{ form.remark }}</td>
                <td valign="middle"><br>{{ form.submit }}</td>
            </tr>
        </table>
        <table style="border-collapse:collapse"border="0" cellspacing="0px" align="center" width="70%">
            <tr align="left">
                <td>
                    Note:
                    <li>All buckets allow multiple value inputs separated by ';'</li>
                    <li>For PID_A/B/C, pls input full name</li>
                    <li>If multiple input, e.g. input 'XYZ;ABC' for PID_A or PID_B, it means either 'XYZ' <strong>OR</strong> 'ABC'; in case of PID_B,it means 'XYZ' <strong>AND</strong> 'ABC'</li>
                </td>
            </tr>
        </table>
        <table  style="border-collapse:collapse" border="0" cellspacing="0px" align="center" width="100%">
            <tr> <!-- For viewing the details -->
                <td width="95%">
                    <br>
                    {% if df_rule_data|length>0 %}
                        <table style="border-collapse:collapse; word-break:break-all; word-wrap: break-word " border="1" cellspacing="0px" align="center">
                            <tr>
                                {% for col in df_rule_header %}
                                    <td><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                                {% endfor %}
                                <td>Remove</td>
                            </tr>

                            {% for row in df_rule_data %}
                                <tr>
                                    {% for col in row %}
                                        <td><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                                    {% endfor %}
                                    <td align="center">
                                        <a href="{{ url_for('delete_general_config_rule_pid_record',login_user=login_user,added_by=row[8],record_id=row[0]) }}">D</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </td>
            </tr>
        </table>

</form>
{% endblock %}


{% block empty_space %}
    <br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}