
<!-- Ken wang, Jan, 2020 -->

{% extends 'base.html' %}


{% block content %}

    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <br>
        <table style="border-collapse:collapse" bgcolor="#f5f5f5" border="0" cellspacing="0px" align="center" width="80%">
            <tr>
                <td width="40%" align="center">
                    <h2>
                        <strong>Manage config rules</strong>
                    </h2>
                </td>
                <td width="60%" align="left">
                    <h2>
                        <a href="{{ url_for("config_rules_complex") }}"> PID combination rules / complex rules</a> <br>
                        <a href="{{ url_for("config_rules_incl_excl_pid_based") }}">Inclusion and exclusion rule - PID based</a><br>
                        <a href="{{ url_for("config_rules_incl_excl_bupf_based") }}">Inclusion and exclusion rule - BU/PF based</a>
                    </h2>
                </td>
                <br>
            </tr>
        </table>
        <br><br>

        <table style="border-collapse:collapse"  bgcolor="#f5f5f5" border="0" cellspacing="0px" align="center" width="80%">
            <tr>
                <td width="40%" align="center">
                    <h2>
                        <strong>Report new error configs</strong>
                    </h2>
                    (for errors without rule to capture)<br>
                    <a href="{{ url_for('download_file_tracker',filename='Error config upload template.xlsx') }}">Download template</a>
                </td>
                <td width="60%" align="left">
                    <br>
                    <h3>{{ form.file_upload_error.label }}</h3> &nbsp; {{ form.file_upload_error }}
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.submit_upload_error }}
                    <br><br><br><br><br>
                    <h3>{{ form.file_remove_error.label }}</h3> &nbsp; {{ form.file_remove_error }}
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.submit_remove_error }}
                    <br><br>
                </td>
            </tr>
        </table>
        <br><br>

        <table style="border-collapse:collapse"  bgcolor="#f5f5f5" border="0" cellspacing="0px" align="center" width="80%">
            <tr>
                <td width="40%" align="center">
                    <h2>
                        <strong>PABU slot management</strong>
                    </h2>
                </td>
                <td width="37%" align="left">
                    <br>
                    {{ form.pf.label }}&nbsp; {{ form.pf }} <br>
                    {{ form.slot_keyword.label }}&emsp; {{ form.slot_keyword }} <br>
                    {{ form.rsp_keyword.label }}&emsp; {{ form.rsp_keyword }}
                    <br><br>
                </td>
                <td width="23" valign="middle" align="left">
                    {{ form.submit_add_slot }}
                </td>
            </tr>
        </table>

        <table style="border-collapse:collapse"  border="0" cellspacing="0px" align="center" width="80%">
            <tr>
                {% if df_error_db_summary_data|length>0 %}
                    <td valign="top">
                        <table style="border-collapse:collapse; word-break:break-all; word-wrap: break-word " border="1" cellspacing="0px" align="center">
                            <tr><br><br>
                            <h4 align="center">Summary of error configs in database</h4>
                                {% for col in df_error_db_summary_header %}
                                    <td align="center"><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                                {% endfor %}
                            </tr>

                            {% for row in df_error_db_summary_data %}
                                <tr>
                                    {% for col in row %}
                                        <td align="center"><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                {% endif %}

                {% if df_slot_data|length>0 %}
                    <td valign="top">
                        <table style="border-collapse:collapse; word-break:break-all; word-wrap: break-word " border="1" cellspacing="0px" align="center">
                            <tr><br><br>
                            <h4 align="center">Summary of PABU slot PID keyword</h4>
                                {% for col in df_slot_header %}
                                    <td align="center"><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                                {% endfor %}
                                <td>Remove</td>
                            </tr>

                            {% for row in df_slot_data %}
                                <tr>
                                    {% for col in row %}
                                        <td align="center"><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                                    {% endfor %}
                                    <td align="center">
                                        <a href="{{ url_for('delete_slot_record',login_user=login_user,added_by=row[4],record_id=row[0]) }}">D</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                {% endif %}

            </tr>
        </table>
    </form>

{% endblock %}


{% block empty_space %}
{% endblock %}