
<!-- Ken wang, Jan, 2020 -->

{% extends 'base.html' %}


{% block content %}
        <br>

    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <table style="border-collapse:collapse"  cellspacing="0px" align="center" width="90%">
            <tr>
                <td width="10%"><h4><a href="{{ url_for("config_rules_main") }}">BACK</a> </h4></td>
            </tr>
        </table>

        <h2 align="center">PID combination rules / complex rules</h2>
        <br>
        <table style="border-collapse:collapse" bgcolor="#f5f5f5" border="1" cellspacing="0px" align="center" width="90%">
            <tr>
                <td width="10%">Owner</td>
                <td width="10%">Applied Org</td>
                <td width="10%">BU</td>
                <td width="10%">PF</td>
                <td width="20%">Description</td>
                <td width="10%" align="center">Config rule detail</td>
                <td width="10%" align="center">Updated on</td>
                <td width="20%">Upload new config file</td>

            </tr>
            <tr>
                <td>Calina Gong</td>
                <td>{{ org_calina }}</td>
                <td>{{ bu_calina }}</td>
                <td>{{ pf_calina }}</td>
                <td>Verify if LC is put in the right slot under different situations</td>
                <td align="center">
                    <a href="{{ url_for('download_file_tracker',filename='PABU slot config rules.xlsx') }}">download</a>
                </td>
                <td align="center">{{ c_time_calina }}</td>
                <td>{{ form.file_calina }}<br>
                {{ form.confirm_calina }}&nbsp;&nbsp;{{ form.confirm_calina.label }}<br>
                {{ form.submit_upload_calina }}</td>

            </tr>
            <tr>
                <td>Rachel Zhang</td>
                <td>{{ org_rachel }}</td>
                <td>{{ bu_rachel }}</td>
                <td>{{ pf_rachel }}</td>
                <td>Verify if SM/NIM have the right combinations</td>
                <td align="center">
                    <a href="{{ url_for('download_file_tracker',filename='SRGBU SM_NIM config rules.xlsx') }}">download</a>
                </td>
                <td align="center">{{ c_time_rachel }}</td>
                <td>{{ form.file_rachel }}<br>
                {{ form.confirm_rachel }}&nbsp;&nbsp;{{ form.confirm_rachel.label }}<br>
                {{ form.submit_upload_rachel }}</td>

            </tr>
            <tr>
                <td>Alex Solis Gonzalez</td>
                <td>{{ org_alex }}</td>
                <td>{{ bu_alex }}</td>
                <td>{{ pf_alex }}</td>
                <td>Verify if PWR/SUP/LC have the right combinations</td>
                <td align="center">
                    <a href="{{ url_for('download_file_tracker',filename='UABU C9400 PWR_LC_SUP combination rule.xlsx') }}">download</a>
                </td>
                <td align="center">{{ c_time_alex }}</td>
                <td>{{ form.file_alex }}<br>
                {{ form.confirm_alex }}&nbsp;&nbsp;{{ form.confirm_alex.label }}<br>
                {{ form.submit_upload_alex }}</td>

            </tr>
        </table>
        <br>
        <h5 align="center" style="color: #a80026">* The rules only apply for ORG specified above, if you wish any rule to work for your org, pls work with respective owner to add your org into the template.</h5>

</form>
{% endblock %}


{% block empty_space %}
    <br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}