
<!-- Ken wang, Jan, 2020 -->

{% extends 'base.html' %}


{% block content %}

    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <br>
        <table style="border-collapse:collapse" bgcolor="#f5f5f5" border="0" cellspacing="0px" align="center" width="80%">
            <tr><br>
                <td width="40%" align="center">
                    <h2>
                        <strong>Manage configuration rules</strong>
                    </h2>
                </td>
                <td width="60%" align="left">
                    <h2>
                        <a href="{{ url_for("config_rules_combination") }}"> PID combination rule</a> <br>
                        <a href="{{ url_for("config_rules_incl_excl_pid_based") }}">Inclusion and exclusion rule - PID based</a><br>
                        <a href="{{ url_for("config_rules_incl_excl_bupf_based") }}">Inclusion and exclusion rule - BU/PF based</a>
                    </h2>
                </td>
                <br>
            </tr>
        </table>
        <br><br><br><br>

        <table style="border-collapse:collapse"  bgcolor="#f5f5f5" border="0" cellspacing="0px" align="center" width="80%">
            <tr>
                <td width="40%" align="center">
                    <h2>
                        <strong>Report new error configs</strong>
                    </h2>
                    <br>
                    (No. of error configs in database: {{ num_of_config }})
                    <br>
                    <a href="{{ url_for('download_file_tracker',filename='Error config upload template.xlsx') }}">Download template</a>
                </td>
                <td width="60%" align="left">
                    <br>
                    <h3>{{ form.file_upload_error.label }}</h3> &nbsp; {{ form.file_upload_error }}
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.submit_upload_error }}
                    <br><br><br><br><br>
                    <h3>{{ form.file_remove_error.label }}</h3> &nbsp; {{ form.file_remove_error }}
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{ form.submit_remove_error }}
                    <br><br>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}


{% block empty_space %}
    <br><br><br>
{% endblock %}