
<!-- Ken wang, Jan, 2020 -->

{% extends 'base.html' %}

{% block title %}
    <title>DFPM:Documents</title>
{% endblock %}

{% block content %}
        <!-- below for db data details -->
        <p align="center"><span style="color: #1a6dca;font-size: x-large;">Columns reprocessed/redefined:</span></p>
        {% if table_data_1|length>0 %}
            <table style="border-collapse:collapse" border="1" cellspacing="0px" align="center" width="90%">
                <tr>
                    {% for col in table_header_1 %}
                        <td><span style="font-size: medium">{{col}}</span></td>
                    {% endfor %}
                </tr>
                {% for row in table_data_1 %}
                    <tr>
                        {% for col in row %}
                          <td><span style="font-size: medium">{{col}}</span></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
            <br><br>

        <p align="center"><span style="color: #1a6dca;font-size: x-large">Summaries created:</span></p>
        {% if table_data_2|length>0 %}
            <table style="border-collapse:collapse" border="1" cellspacing="0px" align="center" width="90%">
                <tr>
                    {% for col in table_header_2 %}
                        <td><span style="font-size: medium">{{col}}</span></td>
                    {% endfor %}
                </tr>
                {% for row in table_data_2 %}
                    <tr>
                        {% for col in row %}
                          <td><span style="font-size: medium">{{col}}</span></td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <br><br>

{% endblock %}
