
<!-- Ken wang, Jan, 2020 -->

{% extends 'base.html' %}


{% block content %}
        <table style="border-collapse:collapse" border="0" cellspacing="0px" width="90%" align="center">
                <tr>  <!-- For downloading the 3a4 resut files -->
                    <td width="95%">
                        <br><br><br>
                            {% if files_dfpm_3a4|length>0 %}
                                <h4><strong> Download files:</strong></h4>
                                <table border="1" cellspacing="1px" align="left" style="border-color: #c5c5c5;">
                                        <tr>
                                            <td width="400"><span style="font-size: large;">&nbsp;&nbsp;File name</span></td>
                                            <td width="200"><span style="font-size: large">&nbsp;&nbsp;Creation time</span></td>
                                            <td width="120"><span style="font-size: large">&nbsp;&nbsp;File size</span></td>
                                            <td width="120">&nbsp;&nbsp;File download</td>
                                        </tr>
                                        {% for row in files_dfpm_3a4 %}
                                            <tr>
                                                {% for col in row[:3] %}
                                                    <td><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                                                {% endfor %}
                                                <td align="center">
                                                    <a href="{{ url_for('download_file_output',filename=row[0]) }}">download</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                </table>
                            {% endif %}
                    </td>
                </tr>


                <tr> <!-- For downloading uploaded input data files -->
                    <td width="95%">
                        <br><br><br>
                                {% if files_uploaded|length>0 %}
                                    <h4><strong> Download original 3A4 uploaded by user:</strong></h4>
                                    <table style="border-collapse:collapse" border="1" cellspacing="0px" align="left">
                                        <tr>
                                            <td width="400"><span style="font-size: large;">&nbsp;&nbsp;File name</span></td>
                                            <td width="200"><span style="font-size: large">&nbsp;&nbsp;Creation time</span></td>
                                            <td width="120"><span style="font-size: large">&nbsp;&nbsp;File size</span></td>
                                            <td width="120">&nbsp;&nbsp;File download</td>
                                        </tr>
                                        {% for row in files_uploaded %}
                                            <tr>
                                                {% for col in row[:3] %}
                                                    <td><span style="font-size: small">&nbsp;&nbsp;&nbsp;{{col}}</span></td>
                                                {% endfor %}
                                                <td align="center">
                                                    <a href="{{ url_for('download_file_upload',filename=row[0]) }}">download</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                    </td>
                </tr>


        </table>

{% endblock %}

{% block flash_message %}
{% endblock %}